<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <div id="bufferspace"></div>
  <main>
    <h3>Patrick Cudahy</h3>
    <h3>(805)896-2191</h3>
    <h3><a href="cudahyp@gmail.com">cudahyp@gmail.com</a></h3>
  </main>
  <div id="bufferspace"></div>
  <div id="bufferspace"></div>

  {% endblock %}

</html>
  
  

</body>

</html>
