<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <main>
    <h1>Hi, I'm Patrick Cudahy and I develop websites and software.</h1>
    <br>
    <h3>I'm a software developer available for hire. With a background and degree in conversational agents, I have experience with NLP, ML, and AI coding.</h3>
    <br>
    <h3>I can also make websites, like this one, but I'm always trying expand my skills with new projects. Hopefully, the next projet will be something bigger at a company I love working for.</h3>
  </main>

  {% endblock %}

</html>
  
  

</body>

</html>
