<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/photography.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <main>

    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/170150924@N04/32298850167/in/dateposted-public/" title="Upside Down"><img src="https://farm8.staticflickr.com/7917/32298850167_4da58b4d92_k.jpg" width=100% height="1365" alt="Upside Down"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

    <div id="bufferspace"></div>

    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/170150924@N04/47240980281/in/dateposted-public/" title="Who You Looking At?"><img src="https://farm8.staticflickr.com/7885/47240980281_3327fba1f2_k.jpg" width=100% height="1365" alt="Who You Looking At?"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

    <div id="bufferspace"></div>

    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/170150924@N04/33354574848/in/album-72157703712284402/" title="Jay1_zoom"><img src="https://farm8.staticflickr.com/7883/33354574848_bf98196053_k.jpg" width=100% height="1365" alt="Jay1_zoom"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

    <div id="bufferspace"></div>

    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/170150924@N04/albums/72157690037016303" title="Landing"><img src="https://farm8.staticflickr.com/7904/40265259283_8b3c6d1960_k.jpg" width=100% height="1087" alt="Landing"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    
  </main>

  {% endblock %}

</html>
  
  

</body>

</html>
