<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <div id="cv">
    <h2>Languages</h2>
    <div class="container">
      <div id="score">
        <h4>Python</h4>
        <div id="pos">+++++++</div><div id="neg">+</div>
      </div>
      <div id="score">
        <h4>JavaScript</h4>
        <div id="pos">+++++</div><div id="neg">+++</div>
      </div>
      <div id="score">
        <h4>HTML</h4>
        <div id="pos">++++++</div><div id="neg">++</div>
      </div>
      <div id="score">
        <h4>CSS</h4>
        <div id="pos">+++++</div><div id="neg">+++</div>
      </div>
      <div id="score">
        <h4>SQL</h4>
        <div id="pos">++++</div><div id="neg">++++</div>
      </div>
      <div id="score">
        <h4>NoSQL</h4>
        <div id="pos">+++</div><div id="neg">+++++</div>
      </div>
      <div id="score">
        <h4>XML</h4>
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <div id="score">
        <h4>Ruby</h4>
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <div id="score">
        <h4>C++</h4>
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <div id="score">
        <h4>C</h4>
        <div id="pos">+</div><div id="neg">+++++++</div>
      </div>
      <div id="score">
        <h4>Java</h4>
        <div id="pos">+</div><div id="neg">+++++++</div>
      </div>
    </div>

    <br>

    <h2>Skills & Packages</h2>
    <div class="container">
      <h4>Gensim</h4>
      <h4>NLTK</h4>
      <h4>Scikit-learn</h4>
      <h4>TensorFlow</h4>
      <h4>Keras</h4>
      <h4>Pandas</h4>
      <h4>Node.js</h4>
      <h4>React</h4>
      <h4>Flask</h4>
      <h4>Django</h4>
    </div>

    <br>

    <h2>Education</h2>
    <h4>University of California, Santa Cruz</h4>
    <p>August 2016 - June 2018</p>
    <p>M.S. Computer Science | GPA: 3.30</p>
    <p>Master's Project: Coherence Modeling for Open-Source Conversational Agents</p>
    
    <h4>Rhodes College</h4>
    <p>August 2010 - May 2015</p>
    <p>B.S. Computer Science | GPA: 3.26</p>
    <p>Honors: Rhodes Academic Grant 2010-2015</p>

    <h4>Relevant Coursework</h4>
    <p>Analytic Data Mining, Data Discovery and Visualization, Artificial Intelligence, Natural Language Programming, Distributed Computing, Conversational Agents</p>

    <br>

    <h2>Work Experience</h2>
    <h4>Fedex/SenseAware</h4>
    <p>Coding Intern, January 2015 - April 2015</p>
    <p>Created and maintained SenseAware wiki, performed unit testing, worked on sensitive location geofencing</p>

  </div>

  {% endblock %}

</html>
  
  

</body>

</html>
