<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <div id="cv">
    <h2>Languages</h2>
    <div class="container">
      <h4>Python</h4>
      <div id="score">
        <div id="pos">+++++++</div><div id="neg">+</div>
      </div>
      <h4>JavaScript</h4>
      <div id="score">
        <div id="pos">+++++</div><div id="neg">+++</div>
      </div>
      <h4>HTML</h4>
      <div id="score">
        <div id="pos">++++++</div><div id="neg">++</div>
      </div>
      <h4>CSS</h4>
      <div id="score">
        <div id="pos">+++++</div><div id="neg">+++</div>
      </div>
      <h4>SQL</h4>
      <div id="score">
        <div id="pos">++++</div><div id="neg">++++</div>
      </div>
      <h4>NoSQL</h4>
      <div id="score">
        <div id="pos">+++</div><div id="neg">+++++</div>
      </div>
      <h4>XML</h4>
      <div id="score">
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <h4>Ruby</h4>
      <div id="score">
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <h4>C++</h4>
      <div id="score">
        <div id="pos">++</div><div id="neg">++++++</div>
      </div>
      <h4>C</h4>
      <div id="score">
        <div id="pos">+</div><div id="neg">+++++++</div>
      </div>
      <h4>Java</h4>
      <div id="score">
        <div id="pos">+</div><div id="neg">+++++++</div>
      </div>
    </div>

    <br>

    <h2>Skills & Packages</h2>
    <h4>Gensim</h4>
    <h4>NLTK</h4>
    <h4>Scikit-learn</h4>
    <h4>TensorFlow</h4>
    <h4>Keras</h4>
    <h4>Pandas</h4>
    <h4>Node.js</h4>
    <h4>React</h4>
    <h4>Flask</h4>

    <br>

    <h2>Education</h2>
    <h4>Rhodes BS</h4>
    <h4>UCSC MS</h4>

    <br>

    <h2>Work Experience</h2>
    <h4>Fedex/SenseAware</h4>

  </div>

  {% endblock %}

</html>
  
  

</body>

</html>
