<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/samples.css') }}">
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <title>Patrick Cudahy</title>
  </head>
  
  {% extends "template.html" %}
  {% block content %}

  <p class="codepen" data-height="900" data-theme-id="0" data-default-tab="css,result" data-user="pcudahy" data-slug-hash="pQOdqy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Pretensions Page Creator">
  <span>See the Pen <a href="https://codepen.io/pcudahy/pen/pQOdqy/">
  Pretensions Page Creator</a> by Patrick Cudahy (<a href="https://codepen.io/pcudahy">@pcudahy</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<p class="codepen" data-height="900" data-theme-id="0" data-default-tab="js,result" data-user="pcudahy" data-slug-hash="LXxKbM" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Login">
  <span>See the Pen <a href="https://codepen.io/pcudahy/pen/LXxKbM/">
  Login</a> by Patrick Cudahy (<a href="https://codepen.io/pcudahy">@pcudahy</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<p class="codepen" data-height="900" data-theme-id="0" data-default-tab="css,result" data-user="pcudahy" data-slug-hash="QzbqXg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Restaurant Site">
  <span>See the Pen <a href="https://codepen.io/pcudahy/pen/QzbqXg/">
  Restaurant Site</a> by Patrick Cudahy (<a href="https://codepen.io/pcudahy">@pcudahy</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

  {% endblock %}

</html>
  
  

</body>

</html>
